@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-color: #131313;
}

.main-border-color {
  border-color: #212121;
}

.main-button-color {
  background-color: #000000;
}

.text-secondary {
  color: #8d8d8d;
}

/* Change the background and text color of selected text */
::selection {
  background-color: #ff0000; /* Custom highlight background color */
  color: #ffffff; /* Custom highlight text color */
}

/* Optional: Customize selection for specific elements */
p::selection {
  background-color: #00ccff;
  color: #000000;
}
